<div class="about">
    <h1>About Paiten Prescott</h1>
    <img src="/images/PaitenPFP.jpg" alt="Paiten Prescott" style="max-width: 30%; height: auto;" />
    <p>Paiten Prescott is a graphic design major in her junior year at the Savannah College of Art and Design (SCAD). Paiten 
        began pursuing her love of art in the sixth grade and has been following her dream since. She currently has an internship where 
        she works with No Greater Sacrifice, a non-profit organization that provides scholarships to children of fallen soldiers.
    </p>
</div>