<!DOCTYPE html>
<html lang="en">
<head>
    <title>Paiten Prescott Portfolio</title>
    <meta charset="utf-8">
    <link rel="icon" href="images/Pprescott_Logo_Color.png" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <header class="site-header">
    <a href="/">
        <img src="/images/Pprescott_Logo_Color.png" alt="Logo" class="logo">
    </a>
    <h1>Paiten Prescott</h1>
    </header>

    <nav class="topnav">
        <a href="/">Gallery</a>
        <a href="/commission">Commissions</a>
        <a href="/about">About</a>
    </nav>

    <main>
        {{{body}}}
    </main>

    <footer class="footer">
        <p>Follow my socials:</p>
        <div class="social-icons">
            <a href="https://www.instagram.com/paiten_mcrae/" target="">
                <img src="/images/instagram-icon.png" alt="Instagram">
            </a>
            <a href="https://www.linkedin.com/in/paiten-prescott-51aa24267/" target="">
                <img src="/images/linkedin-icon.png" alt="Linkedin">
            </a> 
            <a href="https://www.facebook.com/paiten.prescott" target="">
                <img src="/images/facebook-icon.png" alt="Facebook">
            </a>
        </div>
        <p><small>Copyright © 2025 Paiten Prescott. All rights reserved.</small></p>
        <p><small>Unauthorized reproduction, distribution, or display of this artwork is strictly prohibited without prior permission from the artist.</small></p>
    </footer>

</body>
</html>
